body {
    font-family: Sans-Serif;
}

h3 {
    font-weight: 500;
}

.container {
    width: 100%;
    margin: 40px auto;
    display: flex;
}

.content {
    width: 46%;
    display: inline-block;
    margin-left: 62px;
}

table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%
}

table tbody>tr:nth-child(2n) {
    background-color: #ddd;
}

table tr>td {
    padding: 5px;
    border: 1px solid #000000;
}

table thead {
    border-radius: 5px 5px 0px 0px;
    border: 1px solid #000000;
}

table thead .node-col {
    cursor: pointer;
    padding: 10px 0;
}

label {
    display: block;
    margin-bottom: 10px;
}

.info {
    width: 35%;
    display: inline-block;
    margin-left: 62px;
    padding: 0 20px 20px;
    background-color: #383c3f;
    color: white;
    letter-spacing: 1px;
    border-radius: 4px;
}

.info h4 {
    padding: 5px 0 0 10px;
}

.info input[type=button] {
    width: 100%;
    background-color: transparent;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    border: 2px solid #527c69;
}

.info .search input[type=button] {
    width: 49%;
}

.info input[type=text] {
    width: 49%;
    font-size: 16px;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 4px;
    display: inline-block;
    border: 1px solid #000;
    box-sizing: border-box;
}

.path, .min {
    height: 70px;
    background-color: #fff;
    color: black;
    border-radius: 4px;
}
