body {
    font-family: Sans-Serif;
}

h3 {
    font-weight: 500;
}

.container {
    width: 100%;
    margin: 40px auto;
    display: flex;
}

.content {
    width: 46%;
    display: inline-block;
    margin-left: 62px;
}

table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%
}

caption {
    width: 65%;
    margin: 0 auto;
    padding: 0 0 14px;
}

img {
  width: 10%;
  margin-left: 10px;
}

img.sort-up, img.sort-down {
    display: none;
}

table tbody>tr:nth-child(2n) {
    background-color: #ddd;
}

table tr>td {
    padding: 10px;
    border: 1px solid #000000;
    line-height: 22px;
}

table thead {
    border-radius: 5px 5px 0px 0px;
    border: 1px solid #000000;
}

table thead .node-col {
    cursor: pointer;
    padding: 10px 0;
    border: 1px solid black;
}

table thead .col-1 {
  width: 20%;
}

label {
    display: block;
    margin-bottom: 10px;
}

.info {
    width: 35%;
    display: inline-block;
    margin-left: 62px;
    padding: 0 20px 20px;
    background-color: #383c3f;
    color: white;
    letter-spacing: 1px;
    border-radius: 4px;
    align-self: flex-start;
}


.info input[type=button] {
    width: 100%;
    background-color: transparent;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    border: 2px solid #527c69;
}

.info input[type=button]:hover {
    background-color: #527c69;
}

.info h3 {
    margin: 30px 0 0px;
}

.info h4 {
  padding: 4px 0 0 10px;
  margin: 20px 0 0;
}

.info .search input[type=button] {
    width: 40%;
}

.info input[type=text] {
    width: 54%;
    font-size: 16px;
    padding: 12px 8px;
    margin: 8px 0;
    border-radius: 4px;
    display: inline-block;
    border: 1px solid transparent;
    border-top: none;
    border-bottom: 1px solid #DDD;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 0px #FFF, 0 1px 0 #FFF;
}

.info .path-find input[type=text] {
  width: 45%;
}

.info ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
    margin-top: 5px;
}

.info ul li {
  background-color: #527c69;
  padding: 5px 10px;
  margin: 12px 12px 0 0;
  width: 108px;
  text-align: center;
  color: white;
  border-radius: 4px;
}

.path, .min {
  background-color: gray;
  color: darkgray;
  border-radius: 4px;
  padding: 0 0 1px 0;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 0px grey, 0 1px 0 grey;
}
